<!DOCTYPE html>
<html>
	<head>
		<title>MEN Stack To-do List</title>
		<link rel="stylesheet" type="text/css" href="../../public/assets/css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
	</head>
	<body>
	<div class="container">