@mixin icon-boilerplate($color) {
    height: 40px;
    text-align: center;
    color: $color;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

@mixin icon-animation-boilerplate($degree) {
    -webkit-transform: rotateZ($degree);
    -ms-transform: rotateZ($degree);
    transform: rotateZ($degree);
    transition: 0.2s linear;
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}