$color-primary: #2980b9;
$color-gradient-first: #2BC0E4;
$color-gradient-second: #EAECC6;
$color-background-primary: #f7f7f7;

$color-btn-bg-primary: #52ac3b;
$color-btn-shadow-primary: #008800;
$color-btn-bg-secondary: #2980b9;
$color-btn-shadow-secondary: #2372a7;